.header {
  background-color: #303030;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3874ff;
}

.footer {
  background-color: #303030;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}

.footer a {
  color: #3874ff;
}

/* Media queries */
@media (max-width: 425px) {
  .header h1 {
    font-size: 25px;
  }
}
